<div class="wrapper w-100 h-100">

    <nav id="sidebar" class="d-none d-lg-block list-unstyled components h-100">

        <div class="sidebar-link" role="button" [routerLink]="['/home']">
            <i class="fas fa-home fa-fw" aria-hidden="true"></i>
            Hem
        </div>

        <div href=""class="sidebar-link disabled " role="button">
            <i class="fas fa-users fa-fw" aria-hidden="true"></i>
            Mina vänner
        </div>

        <div [routerLink]="['/history']" role="button" class="sidebar-link"><i class="fas fa-envelope-open fa-fw" aria-hidden="true"></i> Arkiverade försändelser</div>

        <div class="sidebar-link">
            <div class="btn btn-primary btn-block" (click)=showConfirm($event)>
                <i class="fas fa-plus fa-fw fa-pull-left" aria-hidden="true"></i> Ny försändelse
            </div>
        </div>
    </nav>

    <div id="content" class="d-lg-none offset-1 col-10 phone-sidebar">
        <div class="row pr-0">
            <div class="col-sm-1">
                <button href="#phone-sidebar" data-toggle="collapse" aria-expanded="false" type="button" role="button" id="sidebarCollapse" class="btn btn-outline-primary navbar-btn sidebar-btn mb-2">
                    <i class="fa fa-align-left" aria-hidden="true"></i>
                </button>
            </div>

            <div class="col-sm-6 offset-sm-5">
                <div id="searchbar">
                    <div class="input-group pr-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                        </div>
                        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Sök efter användare">
                    </div>
                </div>
            </div>
        </div>

        <div [ngClass]="{'show' : (searchText)}" class="mt-3 card collapse">
            <div class="dropdown-item link" *ngFor="let item of users | filter: searchText">
                <i class="fas fa-user-circle"></i> {{item.firstName}} {{item.lastName}}
            </div>
        </div>
        
        <nav id="phone-sidebar" class="collapse">
            <div class="phone-sidebar-link" [routerLink]="['/home']" role="button">
                <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                Hem
            </div>

            <div href="" class="phone-sidebar-link disabled" role="button">
                <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                Mina vänner
            </div>

            <div [routerLink]="['/history']" role="button" class="phone-sidebar-link"><i class="fas fa-envelope-open fa-fw" aria-hidden="true"></i> Arkiverade försändelser</div>

            <div class="phone-sidebar-link">
                <div class="btn btn-primary btn-block-half" (click)=showConfirm($event)>
                    <i class="fas fa-plus fa-fw fa-pull-left" aria-hidden="true"></i> Ny försändelse
                </div>
            </div>


        </nav>
    </div>

</div>