<navbar-home></navbar-home>


<div class="container-fluid margin-navbar-top mb-3 h-100">
    <div class="row h-100">
        <div class="col-lg-2 no-padding">
            <sidebar></sidebar>
        </div>
        <div class="col-lg-8 px-5 py-4">
            <h1 class="mb-5">Administratörsverktyg</h1>

            <div *ngFor="let item of modelList" class="card mb-3 animate-enter">
                <div class="card-body">
                    <h3 class="card-title">Rensa tabell: {{item}}</h3>
                    <p class="card-text">Ta bort alla rader i databas-tabellen "{{item}}"</p>
                    <a href="#" class="btn btn-danger" (click)="cleanTable(item);false">Bekräfta</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
