<!-- Navbar -->
<navbar-home [invitations]="invitations" [invitationNotifications]="invitationNotifications"></navbar-home>

<div class="container-fluid margin-navbar-top mb-3">
    <div class="row">

        <sidebar class="col-lg-2 no-padding"></sidebar>

        <div class="col-xl-6 col-lg-7 col-10 offset-1 p-2 pt-3">
            <active-invitation [invitations]="invitations" [activeInvitations]="activeInvitations"></active-invitation>
            <consignment></consignment>
        </div>
    </div>
</div>
