<!-- Navbar -->
<navbar-home [invitationNotifications]="inactiveInvitations" (invitationsChanged)="newInvitationList($event)"></navbar-home>

<div class="container-fluid margin-1xl-top mb-3">
    <div class="row">
        <div class="col-md-2 col-lg-3 fixed-left">
            <!-- Någon länkmeny av något slag -->
        </div>
        <div class="col-md-8 col-lg-6">
            <active-invitation [activeInvitations]="activeInvitations"></active-invitation>
            <consignment></consignment>
        </div>
    </div>
</div>
