<div class="container">
    <div class="wrapper vertical-center">
        <div class="row text-center">
            <div class="col-xs-12 visible-xs no-padding margin-xs-top margin-xs-bottom"><button type="button" [routerLink]="['/login']" class="btn btn-primary btn-lg btn-block btn-custom">Login</button></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>
            <div class="col-md-2 col-xs-4 no-padding image-cover"><img src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Smiley face"></div>

            <div class="col-xs-12 hidden-xs no-padding margin-xs-top"><button type="button" [routerLink]="['/login']" class="btn btn-primary btn-lg btn-block btn-block-half btn-custom">Login</button></div>
        </div>

    </div>
</div>