<navbar-front></navbar-front>

<!-- Cover -->
   
    <section id="cover">
        <div id="cover-caption">
            <div class="container pt-250">
                <div class="col-sm-12 text-white">
                    <h1 class="display-3 font-weight-bold">ProjektNamn</h1>
                    <p>Säkra betalningar för privatpaket</p>
                    <br>
                    <a  href="#instruktion" class="btn btn-primary btn-md cover-btn" role="button" >Lär dig mer!</a>
                </div>
            </div>
        </div>
    </section>

<!-- Guide -->
<guide></guide>


