:root {
    --bottom-shadow: #e0e0e0 0px 2px 8px;
    --center-shadow: #e0e0e0 0px 0px 8px;
    --bottom-shadow-darker: #e0e0e0 0px 5px 11px;
    --primary: #0AF;
    /*--blue: #0069d9;*/
    --red: #FF1930;
    --yellow: #EDE618;
}

.link {
    color: #000;
    text-decoration:none;
}

.link:hover {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.link.disabled:hover {
    color: #000;
    text-decoration: none;
}

.btn {
    border: none;
    border-radius: 0;
    box-shadow: var(--bottom-shadow-darker);
}

.btn.btn-primary{
    background-color: var(--primary);
}

.btn.btn-primary:hover {
    background-color: var(--blue);
}

.btn.btn-outline-primary {
    color: var(--primary);
}

.btn.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
}

.card-border-sender {
    border-top: 3px #0AF solid;
    
}

.card-border-receiver {
    border-top: 3px #ff8100 solid;
}

.receiver-color {
    color: #ff8100;
}

.sender-color {
    color: var(--primary);
}

.card-body .title-border {
    padding-bottom: 5px;
    border-bottom: 1px #ddd dashed;
}

.navbar {
    box-shadow: var(--center-shadow);
}

a {
    cursor: pointer;
}
*:not(i) {
    /*font-family: 'Raleway', sans-serif !important;*/
    /*font-family: "Source Sans Pro", Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

html {
   
}
body {
    background-size: cover;
    background-position: center center;
    background-color: white;
    height: 100vh;
    color: #3e3e3e !important;
}

.minheight-100 {
    min-height: 100% !important;
}

app{
    height: 100vh;
}


img {
    max-width: 100%;
}

.img-cog {
    margin-top: 0.25rem;
}

.help-block {
    font-size: 12px;
}
.image-cover:hover .image-faded{
    opacity: 1;
    cursor: pointer;
    -moz-transition: all .31s;
   -o-transition: all .31s;
   -webkit-transition: all .31s;
   transition: all .31s;
}
.image-faded{
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    -moz-transition: all .31s;
    -o-transition: all .31s;
    -webkit-transition: all .31s;
    transition: all .31s;
}
.image-cover{
    overflow: hidden;
    position: relative;
}
.image-cover .link-box{
    background: rgba(55, 72, 83, 0.5);
    border-radius: 21px;
}
.image-cover img:hover{
    -moz-transition: all .11s;
   -o-transition: all .11s;
   -webkit-transition: all .11s;
   transition: all .11s;
   cursor:pointer;
}
.image-cover:hover .icon-btn{
    opacity: 1;
    -moz-transition: all .11s;
   -o-transition: all .11s;
   -webkit-transition: all .11s;
   transition: all .11s;;

}
.image-cover img{
    width: 100%;
    height: 100%;
    -moz-transition: all .11s;
   -o-transition: all .11s;
   -webkit-transition: all .11s;
   transition: all .11s;
}
.image-cover .icon-btn{
    position: absolute;
    padding: 5px 10px 5px 10px;
    color: #8c8c8c;
    opacity: 0;
    cursor: pointer;
    -moz-transition: all .11s;
   -o-transition: all .11s;
   -webkit-transition: all .11s;
   transition: all .11s;
}
.image-cover:hover .bot{
    bottom: 0px;
}
.bot-left{
    text-align: left;
    bottom: -25px;
}
.image-cover:hover .top{
    top: 0;
}
.top-right{
    right: 0;
    top: -25px;
}
.image-cover .icon-btn:hover{
    color: #eaeaea;
    -moz-transition: all .11s;
   -o-transition: all .11s;
   -webkit-transition: all .11s;
   transition: all .11s;
}
.no-padding{
    padding: 0 !important;
}

/*Egna Margin-klasser*/
.margin-navbar-top {
    margin-top: 55px;
}
.margin-xs-top{
    margin-top: 5px;
}
.margin-sm-top{
    margin-top: 10px;
}
.margin-md-top{
    margin-top: 15px;
}
.margin-lg-top{
    margin-top: 25px;
}
.margin-xl-top {
    margin-top: 5rem;
}
.margin-1xl-top {
    margin-top: 75px;
}
.margin-xxl-top {
    margin-top: 100px;
}
.margin-xxxl-top{
    margin-top: 150px;
} 
.margin-5xl-top {
    margin-top: 250px;
}
.margin-xs-bottom{
    margin-bottom: 5px;
}
.margin-sm-bottom{
    margin-bottom: 10px;
}
.margin-md-bottom{
    margin-bottom: 15px;
}
.margin-lg-bottom {
    margin-bottom: 25px;
}
.ml-6 {
    margin-left: 4rem !important;
}
.ml-7 {
    margin-left: 5rem !important;
}
.mb-2rem {
    margin-bottom: 2rem !important;
}


/*Egna padding*/
.p-6 {
    padding: 6rem !important;
}

.px-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.padding-102px-top {
    padding-top: 102px !important;
}

.color-custom {
    color: #33b799;
}

.jumbotron{
    background-color: transparent !important;
}
.btn-block-half{
    width: 50% !important;
    margin: 0 auto !important;
}
.vertical-center {
  min-height: 100% !important;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh !important; /* These two lines are counted as one :-)       */

  display: flex !important;
  align-items: center !important;
}
/*form input[type=text], form input[type=password]{
    background-color: #3c3c3c;
    border-color: #3c3c3c;
    color: #ffffff;
}*/
.input-group-addon {
    background-color: #f3f3f3 !important;
    border-color: #d2d2d2 !important;
}
.input-group-addon .fa {
    width: 18px;
    color: #8a8a8a;
}
svg path,
svg rect{
  fill: #33b799;
}
.navbar-custom{
    background: #f7f7f7;
    height: 55px;
    z-index: 22;
    color: black;
}
.fixed-top{
    position: fixed !important;
    top: 0;
}
.navbar-custom .align-content{
    margin: 16px 0px;
}
.navbar-custom-sub{
    padding-top: 65px !important;
    background: rgba(0, 0, 0, 0.13);
    padding-bottom: 10px !important;
}
.navbar-custom-sub .align-content-sub{
    
}
#load-spinner{
    position: absolute;
    bottom: 0;
    right: 21px;
}
.animated:last-of-type{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
        transform: rotateY(-90deg);
        opacity: 0;
  }
  100% {
        transform: rotateY(0deg);
        opacity: 1;
  }
}

.transition{
    -moz-transition: all .11s;
   -o-transition: all .11s;
   -webkit-transition: all .11s;
   transition: all .11s;
}
.has-error{
    color:red;
}
input[type="text"].ng-dirty.ng-invalid{
    border: solid 1px red;
}

/*BTN*/
/*.btn.btn-primary{
    border-color: #33b799 !important;
    background-color: #33b799 !important;
}
.btn.btn-primary:hover{
    background-color: #1fa788 !important;
    border-color: #1fa788 !important;
}
btn.btn-primary:active, .btn-primary:focus{
    border-color: #33b799 !important;
}*/

/* Navbar */

.nav-main {
    background: white;
}

.nav-main a {
    color:black;
}

.nav-main a.nav-link:hover {
    color: var(--primary);
}

.nav-main a.dropdown-item:hover {
    color: var(--primary);
    background-color: white;
}

.dropdown h5 {
    text-align: center;
}

.center-flex {
    justify-content: center;
    align-items: center;
}


#navbar-home {
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
}


/* Cover */

.primary-gradient {
    background: #56CCF2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.secondary-gradient {
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.cover {
    color: black;
    height: 80vh;
    text-align: center;
    display: flex;
}

.cover h1 {
    margin-top: 5rem;
    font-size: 5rem;
}

.cover p {
    font-size: 2rem;
    font-weight: 100;
}

#cover-caption {
    width: 100%;
}

#cover-caption .container div form {
    justify-content: center;
}


/*User Guide*/

#guide {
    background-color: white;
}

.guideImg {
    border: 0;
    margin-bottom: 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0AF;
    border: none;
    border-bottom: 3px #0AF solid;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #3e3e3e;
    border: none;
}

.card-deck i {
    opacity: 0.1;
}
/* Egna height och width-klasser */

.height-15 {
    height: 15rem;
}

.height-20 {
    height: 20rem;
}


.height-3 {
    height: 3rem;
}

.height-2  {
    height: 2rem;
}

.width-15 {
    width: 15rem;
}

.width-20 {
    width: 20rem;
}

.width-21 {
    width: 21rem;
}

.width-22 {
    width: 22rem;
}

.width-23 {
    width: 23rem;
}

.width-10 {
    width: 10rem;
}

.width-9 {
    width: 9rem;
}

.width-5 {
    width: 5rem;
}

.width-3 {
    width: 3rem;
}

.width-2 {
    width: 2rem;
}

.width-40 {
    width: 40rem;
}

.width-35 {
    width: 35rem;
}

.width-30 {
    width: 30rem;
}

.width-25 {
    width: 25rem;
}

.pt-250{
    padding-top: 250px;
}

.width-335px {
    width: 335px;
}

.width-575px {
    width: 575px;
}

.width-70px {
    width: 70px;
}
/* Notificationcenter */
.notification {
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-top: 1px solid rgba(0,0,0,.15);
}

.notification:hover {
    color: var(--primary);
    background: #f7f9fa;
    cursor: pointer;
}

.badge {
    padding: .50em .7em;
}

.notification-dropdown {
    padding: 0 0;
    border-radius: 0;
}

.notification-bell {
    height: 35px;
    width: 40px;
    cursor: pointer;
}

#bell {
    height: 35px;
    width: 40px;
    position: absolute;
    z-index: -1;
}

.notification-counter {
    position: absolute;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 30px;
    color: #0AF;
}

.dropdown-menu .btn{
    color: white;
}

.close-notification {
    font-size: 1.3rem;
}

/* Consignments */
.consignment-card-img {
    width: 125px;
    height: 125px;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.consignment-card-header {
    height: 10rem;
    width: 100%;
    color: white;
    padding-top: 3rem;
    box-shadow: var(--bottom-shadow-darker);
}

.firstAndLast {
    min-width: 4rem !important;
}

.paginationNumber {
    min-width: 1rem;
}

.activePage {
    background: #f7f9fa !important;
}

.page-item.active .page-link {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.hide-link {
    color: var(--primary) !important;
    padding-top: 7px;
}

.hide-link:hover {
    text-decoration: none;
}

/* User Profile */
.user-profile-header {
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    border-radius: .25rem;
    margin: 0;
    color: white;
    box-shadow: var(--bottom-shadow);
}

.user-profile-info {
    padding: 0.15rem 0rem;
}

.user-profile-block {
    margin-top: 6rem;
    padding-bottom: 0;
}

#user-profile-img-container {
    min-width: 214px;
}


.profile-btn {
    font-size: 0.85rem;
    margin-top: 1rem;
    width: 100%;
    display: block;
}

.profile-tab {
    border: none;
    background: white;
    padding-left: 14rem;
}

.border-right {
    border-right: 1px solid rgba(0,0,0,.125);
}

.border-left {
    border-left: 1px solid rgba(0,0,0,.125);
}

.user-profile-img {
    background: url(app/img/profilepic.jpeg);
    background-size: cover;
    background-position: center;
    height: 11rem;
    width: 11rem;
    margin-bottom: -2rem;
    margin-top: 4.6rem;
    z-index: 1;
    border: 3px solid #fff;
    border-radius: 96px;
    position: relative;
    box-shadow: #777777 0px 2px 8px;
}

.friends-img {
    background: url(app/img/profilepic.jpeg);
    background-size: cover;
    background-position: center;
    height: 11rem;
    width: 11rem;
    margin-top: 1rem;
    align-self: center;
    z-index: 1;
    border: 3px solid #fff;
    border-radius: 96px;
    position: relative;
    box-shadow: #777777 0px 2px 8px;
}

.sales-ads-img {
    background: url(app/img/fotbollsskor.jpg);
    background-size: cover;
    background-position: center;
    height: 15rem;
}

.sales-ads-img-2 {
    background: url(app/img/screens.jpg);
    background-size: cover;
    background-position: center;
    height: 15rem;
}

.sales-ads-img-3 {
    background: url(app/img/tv.jpg);
    background-size: cover;
    background-position: center;
    height: 15rem;
}

.sales-ads-img-4 {
    background: url(app/img/soffa.jpg);
    background-size: cover;
    background-position: center;
    height: 15rem;
}

.noborder{
    border: 0;
}

.white-bg {
    background: #ffffff;
}

.card-header-custom {
    padding: .75rem 0;
    margin-bottom: 0;
    background-color: #ffffff;
}

.card-custom {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
}
/* Sidebar */
#sidebar {
    height: 100%;
    background: #fff;
    transition: all 0.3s;
    box-shadow: var(--center-shadow);
    position: fixed;
    max-width: 20%;
    width: 230px;
}

.phone-sidebar {
    padding-left: 0.5rem !important;
}

.sidebar-link.sidebar-collapsed-link {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.sidebar-link-last {
    padding-bottom: 0 !important;
}

/*.sidebar-link[aria-expanded="true"] {
    background: #f0f0f0;
}*/

.sidebar-link[aria-expanded="true"]:hover {
    /*background: #f0f0f0;*/
    color: #000;
}

#sidebar .active {
    background: #f0f0f0;
}

.sidebar-link {
    width: 100%;
    padding: 1rem;
    color: #000;
    text-decoration: none;
}

.sidebar-link:hover {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

/*.animate-enter{
    animation: slide-up 0.4s ease;
}*/

.sidebar-arrow {
    margin-top: 2px;
}

/*PhoneSidebar*/
#phoneSidebar .active {
    background: #f0f0f0;
}

#content {
    padding: 3rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

.phone-sidebar-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.phone-sidebar-link:hover {
    color: var(--primary);
    text-decoration: none;
}

/*.phone-sidebar-link.disabled:hover {
    color: black;
    cursor: default;
    text-decoration: none;
}*/

/*.phone-sidebar-link[aria-expanded="true"] {
    background: #f0f0f0;
}*/

.phone-sidebar-link[aria-expanded="true"]:hover {
    /*background: #f0f0f0;*/
    color: #000;
}

.phone-sidebar-link.sidebar-collapsed-link {
    padding-left: 2rem;
}

/* User Settings */
.user-settings-title {
    margin-right: 5px;
}

.user-settings-img {
    background: url(app/img/profilbild.png);
    background-size: cover;
    background-position: center;
    height: 20rem;
}

/*Register*/
.required-asterisk {
    color: red;
}

/* Prio 1 */
.disabled:hover {
    text-decoration: none;
    color: black;
    cursor: default;
}

.card {
    border: 0;
    box-shadow: var(--bottom-shadow);
}

.dropdown-menu {
    border: 0;
    box-shadow: var(--bottom-shadow);
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 766px) /*md-down*/ {
    .sale-ads-title {
        margin-top: 0px;
    }

    #user-settings {
        font-size: 0.75rem;
    }

    .user-profile-img {
        margin-bottom: 0rem;
        margin-top: 1.6rem;
    }

    .user-profile-block {
        margin-top: 3rem;
    }

    .profile-tab {
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) /*sm-down*/ {
    #cover-caption .container .display-3 {
        font-size: 3.5rem;
    }

    login .primary-gradient {
        background: #ffffff;
    }

    .primary-gradient.h-100 {
        background: #ffffff;
    }

    #activeInvites .showActiveInvitesBtn {
        margin-top: 1rem;
    }

    .profile-tab {
        font-size: 0.75rem;
    }

    .user-profile-block {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .mh-cards-grid {
        min-height: 784px;
    }
}

@media screen and (min-width: 686px) {
    .mh-cards-grid {
        min-height: 736px;
    }
}

@media screen and (min-width: 767px) /*md-up*/ {

}

@media screen and (min-width: 992px) /*lg-up*/ {

}

@media screen and (min-width: 1327px) /*xl-up*/ {
    .mh-cards-grid {
        min-height: 688px;
    }
}

@media screen and (max-height: 755px) {

}

@media screen and (max-height: 677px) {

}