<loading-spinner *ngIf="loading"></loading-spinner>

<!-- Om inga försändelser finns så visas den här rutan med länk till att skicka invites och guide för att förstå hur man gör -->
<div *ngIf="consignments?.length == 0" class="mt-3">
    <h4 class="pl-0 col-12">Du har inga aktiva försändelser</h4>
    <div class="container-fluid ">
        <div class="row">
            <div class="card text-center col-md-12">
                <div class="card-block">
                    <!--<h3 class="card-title">Inga aktiva försändelser</h3>-->
                    <p class="card-text">
                        Läs mer hur du kommer igång på några minuter eller skicka en inbjudan.
                    </p>
                    <a href="#" class="btn btn-primary" (click)=showConfirm($event)>Skicka inbjudan</a>
                </div>  
            </div>
        </div>
    </div>
    <br>

    <guide></guide>
</div>

<!-- Om försändelser finns så visas dom här komponenterna -->
<div class="card-header-custom col-12 animate-enter">
    <div *ngIf="consignments?.length > 0" class="row align-items-between">
        <h4 class="m-0 col-sm-7" *ngIf="consignments?.length > 1">Du har {{consignments?.length}} försändelser</h4>
        <h4 class="m-0 col-sm-7" *ngIf="consignments?.length == 1">Du har {{consignments?.length}} försändelse</h4>
            
        <p class="col-sm-5 m-0 text-sm-right">
            <a *ngIf="!showConsignments" (click)="showConsignments=true" class="hide-link"
               data-toggle="collapse" href="#consignments" role="button" aria-expanded="true" aria-controls="consignments">
                Visa försändelser <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <a *ngIf="showConsignments" (click)="showConsignments=false" class="hide-link"
               data-toggle="collapse" href="#consignments" role="button" aria-expanded="true" aria-controls="consignments">
                Dölj försändelser <i class="fa fa-angle-up" aria-hidden="true"></i>
            </a>
        </p>
    </div>
</div>

<div *ngIf="consignments?.length > 0" id="consignments">
    <div class="no-padding d-flex flex-row-reverse">
        <form #orderForm="ngForm" class="form-inline mb-3" (change)="orderBySelection($event.target.value)">
            <label class="mr-sm-2" for="orderBySelection">Sortera efter:</label>
            <select class="custom-select mb-2 mb-sm-0" name="orderBySelection" ngModel>
                <option selected value="-StartDate">Nyast först</option>
                <option value="StartDate">Äldst först</option>
                <option value="SenderPersonId">Avsändare A-Ö</option>
                <option value="ReceiverPersonId">Mottagare A-Ö</option>
                <option value="-DepositedAmount">Betald summa fallande</option>
                <option value="DepositedAmount">Betald summa stigande</option>
            </select>
        </form>
    </div>
    <div class="row" [ngClass]="{'mh-cards-grid' : (consignments?.length >= 4)}">
        <div *ngFor="let item of pagedItems" [ngClass]="{'col-sm-6' : (pagedItems?.length > 1), 'col-sm-12' : (pagedItems?.length < 2)}">
            <div class="card mb-3">
                <div class="consignment-card-header" [ngClass]="{'primary-gradient' : (currentUser.PersonId == item.SenderPersonId), 'secondary-gradient' : (currentUser.PersonId == item.ReceiverPersonId)}">
                    <h2 class="text-center"><i class="fas fa-map-marker-alt"></i> {{item.LastSeenCity}}</h2>
                    <p class="text-center"><i class="far fa-calendar-alt"></i> {{item.LastSeenTimeStamp}}</p>
                </div>
                <div class="card-block">
                    <p class="card-text" *ngIf="currentUser.PersonId == item.SenderPersonId">Ditt paket är påväg till {{item.Consignee?.address.city}}</p>
                    <p class="card-text" *ngIf="currentUser.PersonId == item.ReceiverPersonId">Ett paket från {{item.Consignor?.address.city}} är påväg till dig</p>
                    <p class="card-text">Paketet befinner sig just nu i {{item.LastSeenCity}}</p>
                    <p class="card-text">
                        Paketet skickades {{item.DropOffDate}} från {{item.Consignor.address.city}}, {{item.Consignor.address.postCode}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="consignments?.length > 4">
        <div class="col-12 d-flex justify-content-center">
            <div class="no-padding">
                <ul *ngIf="pager.Pages?.length" class="pagination">
                    <li [ngClass]="{disabled:pager.CurrentPage === 1}" class="page-item text-center width-70px">
                        <a class="page-link" (click)="setPage(1)">Första</a>
                    </li>
                    <li [ngClass]="{disabled:pager.CurrentPage === 1}" class="page-item text-center width-3">
                        <a class="page-link" (click)="setPage(pager.CurrentPage - 1)"><i class="far fa-arrow-alt-circle-left"></i></a>
                    </li>
                    <li *ngFor="let Page of pager.Pages" [ngClass]="{active:pager.CurrentPage === Page}" class="page-item paginationNumber text-center">
                        <a class="page-link" (click)="setPage(Page)">{{Page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.CurrentPage === pager.TotalPages}" class="page-item text-center width-3">
                        <a class="page-link" (click)="setPage(pager.CurrentPage + 1)"><i class="far fa-arrow-alt-circle-right"></i></a>
                    </li>
                    <li [ngClass]="{disabled:pager.CurrentPage === pager.TotalPages}" class="page-item text-center width-70px">
                        <a class="page-link" (click)="setPage(pager.TotalPages)">Sista</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

