<!-- Om inga försändelser finns så visas den här rutan med länk att skicka invites -->
<div *ngIf="consignments?.length == 0">
    <div class="container-fluid ">
        <div class="row">
            <div class="margin-xl-top card text-center col-md-12">
                <div class="card-block">
                    <h3 class="card-title">Inga aktiva försändelser</h3>
                    <p class="card-text">
                        Du har inga aktiva försändelser, läs mer hur du kommer igång på några minuter
                        eller skicka en inbjudan.
                    </p>
                    <a href="#" class="btn btn-primary" (click)=showConfirm($event)>Skicka inbjudan</a>
                </div>
            </div>
        </div>
    </div>
</div><br>

<!-- Guide -->
<div class="my-5 py-2 container section-content" *ngIf="consignments?.length == 0">
    <guide></guide>
</div>

<!-- Om försändelser finns så visas dom här komponenterna -->
<div class="container-fluid">
    <h3 class="text-center mb-3" *ngIf="consignments?.length > 1">Du har {{consignments?.length}} aktiva försändelser</h3>
    <h3 class="text-center mb-3" *ngIf="consignments?.length == 1">Du har {{consignments?.length}} aktiv försändelse</h3>
    <div class="row">
        <div *ngFor="let item of consignments | slice:0:maxSliceValue; let i=index" [ngClass]="{'col-md-6' : (maxSliceValue > 6), 'col-sm-12' : (6 >= maxSliceValue > 0)}">
            <div class="card mb-3">
                <div class="card-block">
                    <p class="card-text" *ngIf="currentUser.PersonId == item.SenderPersonId">Ditt paket är påväg till {{item.ReceiverPersonId}}</p>
                    <p class="card-text" *ngIf="currentUser.PersonId == item.ReceiverPersonId">Ett paket från {{item.SenderPersonId}} är påväg till dig</p>
                    <p class="card-text">Paketet befinner sig just nu i Stockholm</p>
                    <p class="card-text">
                        Paketet är beräknat till
                        <i>Måndag den 23 Augusti 2018</i>
                    </p>
                    <img src="img/karta.png" class="consignment-img" *ngIf="maxSliceValue <= 6"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right" *ngIf="consignments?.length > 0">
        <button *ngIf="maxSliceValue == 2" class="btn btn-outline-primary" type="button" role="button" (click)="incrementSliceValue()">
            Visa alla <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <button *ngIf="maxSliceValue > 2" class="btn btn-outline-primary" type="button" role="button" (click)="decrementSliceValue()">
            Visa färre <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div *ngIf="consignments?.length > 0">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <div class="text-center">
                    <a href="#" class="btn btn-block btn-primary" (click)=showConfirm($event)>Skicka inbjudan till en ny försändelse</a>
                </div>
            </div>
        </div>
    </div>
</div>
