<!-- Navbar för inloggade konton -->
<nav class="navbar navbar-light bg-faded fixed-top nav-main">
    <div class="flex-row-reverse">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.FirstName}} {{currentUser.LastName}}</a>
                <div class="dropdown-menu dropdown-menu-right width-15">
                    <a href="#" class="dropdown-item" [routerLink]="['/profile']" role="button">Min profil</a>
                    <a href="#" class="dropdown-item">Kontoinställningar</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item" [routerLink]="['/front']" role="button">Logga ut</a>
                </div>
            </li>
            <li class="nav-item">
                    <div data-toggle="dropdown" class="notification-bell" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="img/bell.png" id="bell" alt="Notificationsymbol" />
                        <h6 *ngIf="invitations?.length > 0" class="notification-counter">{{invitations?.length}}</h6>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <div class="width-20 text-center py-4" *ngIf="invitations?.length == 0">
                            <h4 class="card-title">Du har inga händelser</h4>
                            <a href="#" class="btn btn-primary" (click)=showConfirm($event)>Skicka inbjudan till en ny försändelse</a>
                        </div>
                        <invite *ngIf="invitations?.length > 0" [invitations]="invitations" (invitationsChanged)="newInvitationList($event)"></invite><!--Update child component with array, and receive event from child on change-->
                    </div>
                
            </li>
        </ul>
    </div>
</nav>