<!-- Navbar till icke inloggad besökare -->
<nav class="navbar navbar-toggleable-sm navbar-light fixed-top nav-main">
    <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" id="logotype" href="#">Logotype</a>

    <div class="navbar-collapse collapse flex-row-reverse" id="navbarSupportedContent">
        <ul class="nav justify-content-end ">
            <li class="nav-item mx-1">
                <a class="nav-link" href="">Spåra paket</a>
            </li>

            <li class="nav-item mx-1">
                <a class="nav-link" href="">Skapa försändelse</a>
            </li>

            <li class="nav-item mx-1">
                <a href="" class="nav-link" [routerLink]="['/login']">Logga in</a>
            </li>

        </ul>
    </div>
</nav>