<!-- Navbar för inloggade konton -->
<nav class="navbar navbar-light bg-faded fixed-top nav-main justify-content-between" id="navbar-home">
    <a class="navbar-brand" id="logotype" href="" [routerLink]="['/home']">Logotype</a>

    <div class="justify-content-end">
        <ul class="nav flex-row">
            <!--<li class="nav-item">
                <a class="nav-link" href="#" (click)=showConfirm($event)>Skapa försändelse</a>
            </li>-->
            <li class="nav-item">
                <a class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> {{currentUser.FirstName}} {{currentUser.LastName}} <i class="fas fa-angle-down" aria-hidden="true"></i></a>
                <div class="dropdown-menu dropdown-menu-right width-15">
                    <a href="#" class="dropdown-item" [routerLink]="['/profile']"><i class="fas fa-user-circle fa-fw" aria-hidden="true"></i> Min profil</a>

                    <ng-container *ngIf="currentUser.UserRights == 10">
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" [routerLink]="['/admin-panel']"><i class="fas fa-database fa-fw" aria-hidden="true"></i> Administratörsverktyg</a>
                    </ng-container>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item" [routerLink]="['/front']" role="button"><i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i> Logga ut</a>
                </div>
            </li>
            <li class="nav-item">
                    <div data-toggle="dropdown" class="notification-bell" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-bell fa-2x" aria-hidden="true" id="bell"></i>
                        <h6 *ngIf="invitationNotifications?.length > 0" class="notification-counter">{{invitationNotifications?.length}}</h6>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <div class="width-20 text-center py-4" *ngIf="invitationNotifications?.length == 0">
                            <h4 class="card-title">Du har inga händelser</h4>
                            <a href="#" class="btn btn-primary" (click)=showConfirm($event)>Skicka inbjudan till en ny försändelse</a>
                        </div>
                        <invite-notifications *ngIf="invitationNotifications?.length > 0" [invitations]="invitations" [invitationNotifications]="invitationNotifications"></invite-notifications><!--Update child component with array, and receive event from child on change-->
                    </div>
            </li>
        </ul>
    </div>
</nav>