<!-- Tabs med instruktioner -->
<!--https://undraw.co/illustrations   #649eff-->
<section id="guide">
        <div class="margin-sm-top">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#sender-tab" role="tab">Säljare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#receiver-tab" role="tab">Köpare</a>
                </li>
            </ul>
        </div>
        <div class="card-body tab-content margin-md-top margin-md-bottom">
            <div class="tab-pane fade show active" id="sender-tab" role="tabpanel">
                    <div class="row">
                        <div class="card-deck justify-content-around">
                            <div class="card-block col-md-3 justify-content-center">
                                <img src="img/undraw_agreement_aajr.svg" alt="Accepterat" class="guideImg hidden-sm-down">
                                <h4 class="card-title hidden-md-up">Inbjudan</h4>
                                <p class="card-text">Som säljare skickar eller accepterar du en <strong>inbjudan</strong> om att <strong>sälja</strong> ett paket.</p>
                            </div>
                            <i class="fa fa-angle-right fa-5x align-self-center hidden-sm-down" aria-hidden="true"></i>
                            <div class="card-block col-md-3">
                                <img src="img/undraw_mail_box_kd5i.svg" alt="Accepterat" class="guideImg hidden-sm-down">
                                <h4 class="card-title hidden-md-up">Paketet skickas</h4>
                                <p class="card-text">När köparen har betalat den begärda summan i försändelsen, har du som säljare 48 timmar på dig att <strong>skicka paketet och mata in Kolli-ID.</strong></p>
                            </div>
                            <i class="fa fa-angle-right fa-5x align-self-center hidden-sm-down" aria-hidden="true"></i>
                            <div class="card-block col-md-3">
                                <img src="img/undraw_order_confirmed_1m3v.svg" alt="Accepterat" class="guideImg hidden-sm-down">
                                <h4 class="card-title hidden-md-up">Paketet levereras</h4>
                                <p class="card-text">När <strong>paketet har levererats</strong> förs pengarna över till dig automatiskt.</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="receiver-tab" role="tabpanel">
                <!--<p class="lead">ProjektNamn är ett tryggt och snabbt sätt att betala för privatpaket där båda parter kan känna sig trygga.</p>-->
                <div class="row">
                    <div class="card-deck justify-content-around">
                        <div class="card-block col-md-3 justify-content-center">
                            <img src="img/undraw_agreement_aajr.svg" alt="Accepterat" class="guideImg hidden-sm-down">
                            <h4 class="card-title hidden-md-up">Inbjudan</h4>
                            <p class="card-text">Som köpare skickar eller accepterar du en <strong>inbjudan</strong> om att <strong>köpa</strong> ett paket.</p>
                        </div>
                        <i class="fa fa-angle-right fa-5x align-self-center hidden-sm-down" aria-hidden="true"></i>
                        <div class="card-block col-md-3">
                            <img src="img/undraw_make_it_rain_iwk4.svg" alt="Accepterat" class="guideImg hidden-sm-down">
                            <h4 class="card-title hidden-md-up">Paketet skickas</h4>
                            <p class="card-text">När du har <strong>betalat</strong> den begärda summan i försändelsen, har säljaren 48 timmar på sig att skicka paketet och mata in Kolli-ID.</p>
                        </div>
                        <i class="fa fa-angle-right fa-5x align-self-center hidden-sm-down" aria-hidden="true"></i>
                        <div class="card-block col-md-3">
                            <img src="img/undraw_order_confirmed_1m3v.svg" alt="Accepterat" class="guideImg hidden-sm-down">
                            <h4 class="card-title hidden-md-up">Paketet levereras</h4>
                            <p class="card-text">När du har hämtat ut paketet förs pengarna över till avsändaren.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>