<!-- Tabs med instruktioner -->
<section id="guide">
    <div class="">
        <div class="margin-sm-top">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#sender-tab" role="tab">Avsändare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#receiver-tab" role="tab">Mottagare</a>
                </li>
            </ul>
        </div>
        <div class="card-body tab-content margin-md-top margin-md-bottom">
            <div class="tab-pane fade show active" id="sender-tab" role="tabpanel">
                <div class="section-content">
                    <div class="container">
                        <p class="lead">ProjektNamn är ett tryggt och snabbt sätt att betala för privatpaket där båda parter kan känna sig trygga.</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-deck">
                                    <div class="col-sm-3">
                                        <!--<img src="img/accepted.jpg" alt="Accepterat">-->
                                        <div class="card-block">

                                            <h4 class="card-title">Inbjudan</h4>
                                            <p class="card-text">Avsändaren skickar eller accepterar en inbjudan.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<img src="img/pengar.jpg" alt="Pengar">-->
                                        <div class="card-block">
                                            <h4 class="card-title">Skicka</h4>
                                            <p class="card-text">När mottagaren har lagt in pengarna i försändelsen har du som avsändare 24 timmar på dig att skicka paketet.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<img src="img/paket-2.jpg" alt="Paket">-->
                                        <div class="card-block">
                                            <h4 class="card-title">Kolli-id</h4>
                                            <p class="card-text">Direkt du skickat paketet så matar du in ditt kolli-id i försändelsen.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<img src="img/paket-2.jpg" alt="Paket">-->
                                        <div class="card-block">
                                            <h4 class="card-title">Pengarna</h4>
                                            <p class="card-text">När mottagaren har hämtat ut paketet får du pengarna efter 24 timmar.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="receiver-tab" role="tabpanel">
                <div class="section-content">
                    <div class="container">
                        <p class="lead">ProjektNamn är ett tryggt och snabbt sätt att betala för privatpaket där båda parter kan känna sig trygga.</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-deck">
                                    <div class="col-sm-3">
                                        <!--<img src="img/accepted.jpg" alt="Accepterat">-->
                                        <div class="card-block">

                                            <h4 class="card-title">Inbjudan</h4>
                                            <p class="card-text">Avsändaren skickar eller accepterar en inbjudan.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<img src="img/pengar.jpg" alt="Pengar">-->
                                        <div class="card-block">
                                            <h4 class="card-title">Skicka</h4>
                                            <p class="card-text">När mottagaren har lagt in pengarna i försändelsen har du som avsändare 24 timmar på dig att skicka paketet.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<img src="img/paket-2.jpg" alt="Paket">-->
                                        <div class="card-block">
                                            <h4 class="card-title">Kolli-id</h4>
                                            <p class="card-text">Direkt du skickat paketet så matar du in ditt kolli-id i försändelsen.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<img src="img/paket-2.jpg" alt="Paket">-->
                                        <div class="card-block">
                                            <h4 class="card-title">Pengarna</h4>
                                            <p class="card-text">När mottagaren har hämtat ut paketet får du pengarna efter 24 timmar.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>