
<!--<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group input-group input-group-lg" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="model.Email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group input-group input-group-lg" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.Password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-block btn-primary" role="button">Logga in</button>
            <loading-spinner *ngIf="loading"></loading-spinner>
        </div>
</form>-->

<form name="form" class="px-4 py-3" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <!--<span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>-->
        <label for="DropdownFormEmail">Användarnamn</label>
        <input id="DropdownFormEmail" type="text" class="form-control" placeholder="Användarnamn" name="email" [(ngModel)]="model.Email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <!--<span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>-->
        <label for="DropdownFormPassword">Lösenord</label>
        <input id="DropdownFormPassword" type="password" class="form-control" placeholder="Lösenord" name="password" [(ngModel)]="model.Password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Kom ihåg mig
        </label>
    </div>
    <button [disabled]="loading" class="btn btn-primary" role="button">Logga in</button>
    <loading-spinner *ngIf="loading"></loading-spinner>
</form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item nav-link" href="#">Har du ingen användare? Registrera dig</a>
    <a class="dropdown-item nav-link" href="#">Glömt ditt lösenord?</a>
