<div id="backgroundColorBlur">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" (ngSubmit)="f.form.valid && sendInvite()" #f="ngForm" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{title || 'Confirm'}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                    
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="mr-sm-2" for="consignmentRoleSelect">Din roll</label>
                        <select class="custom-select" name="roleDropdown" (change)="resetModel()" [(ngModel)]="selectedRole" id="consignmentRoleSelect">
                            <option *ngFor="let x of invitationRoles.roles" [value]="x.value" [selected]="selectedRole == x.value">{{x.text}}</option>
                        </select>
                    </div><br />

                    <!--Sender personid-->
                    <ng-container *ngIf="selectedRole == 1 && dialogStep == 1">
                        <div class="form-group"  [ngClass]="{ 'has-error': receiverPersonId.dirty && !receiverPersonId.valid }">
                            <label for="receiverPersonId">Mottagare</label>
                            <input type="text" class="form-control" name="receiverPersonId" placeholder="Personnummer"
                                   [(ngModel)]="model.ReceiverPersonId" #receiverPersonId="ngModel" required />
                            <div *ngIf="receiverPersonId.dirty && !receiverPersonId.valid" class="help-block">Fyll i personnummer</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="selectedRole == 1 && dialogStep == 2">
                        <div class="form-group" [ngClass]="{ 'has-error': title.dirty && !title.valid }">
                            <label for="title">Paketnamn</label>
                            <input type="text" class="form-control" name="title"
                                   [(ngModel)]="model.Title" #title="ngModel" required />
                            <div *ngIf="title.dirty && !title.valid" class="help-block">Fyll i paketnamn</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': description.dirty && !description.valid }">
                            <label for="description">Beskrivning</label>
                            <input type="text" class="form-control" name="description"
                                   [(ngModel)]="model.Description" #description="ngModel" />
                        </div>  
                    </ng-container>

                    <ng-container *ngIf="selectedRole == 1 && dialogStep == 3">
                        <div class="form-group" [ngClass]="{ 'has-error': paymentMethod.dirty && !paymentMethod.valid }">
                            <label>Utbetalningsmetod</label>
                            <select class="custom-select w-100" name="paymentMethod" [(ngModel)]="selectedPaymentMethod" id="paymentMethod" #paymentMethod="ngModel">
                                <option *ngFor="let x of payment.methods" [value]="x.value" [selected]="selectedPaymentMethod == x.value">{{x.text}}</option>
                            </select>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !requestedDepositAmount.valid }">
                            <label for="requestedDepositAmount">Begärd summa (kronor)</label>
                            <input type="text" class="form-control" name="requestedDepositAmount"
                                   [(ngModel)]="model.RequestedDepositAmount" #requestedDepositAmount="ngModel" />
                            <div *ngIf="f.submitted && !requestedDepositAmount.valid" class="help-block">Fyll i begärd summa</div>
                        </div>
                    </ng-container>

                    <!--Receiver personid-->
                    <ng-container *ngIf="selectedRole == 2 && dialogStep == 1">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !senderPersonId.valid }">
                            <label for="senderPersonId">Avsändare</label>
                            <input type="text" class="form-control" name="senderPersonId" placeholder="Personnummer"
                                   [(ngModel)]="model.SenderPersonId" #senderPersonId="ngModel" />
                            <div *ngIf="f.submitted && !senderPersonId.valid" class="help-block">Fyll i giltigt personnummer</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedRole == 2 && dialogStep == 2">
                        <div class="form-group" [ngClass]="{ 'has-error': title.dirty && !title.valid }">
                            <label for="title">Paketnamn</label>
                            <input type="text" class="form-control" name="title"
                                   [(ngModel)]="model.Title" #title="ngModel" required />
                            <div *ngIf="title.dirty && !title.valid" class="help-block">Fyll i paketnamn</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': description.dirty && !description.valid }">
                            <label for="description">Beskrivning</label>
                            <input type="text" class="form-control" name="description"
                                   [(ngModel)]="model.Description" #description="ngModel" />
                        </div>
                    </ng-container>

                </div>
                <div class="modal-footer">
                    <button *ngIf="selectedRole == 1 && dialogStep != 3 || selectedRole == 2 && dialogStep != 2" role="button" class="btn btn-primary" (click)="dialogStep = dialogStep + 1">Nästa</button>
                    <button *ngIf="selectedRole == 1 && dialogStep == 3 || selectedRole == 2 && dialogStep == 2" type="submit" role="button" class="btn btn-primary">Skicka</button>
                    <button type="button" class="btn btn-default" (click)="cancel()">Avbryt</button>
                </div>

                <!--<pre>{{selectedRole | json}}</pre>
                <pre>{{model | json}}</pre>-->
            </form>
        </div>
    </div>
</div>

