<div id="backgroundColorBlur">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" (ngSubmit)="f.form.valid && acceptInvitation(currentInvitation)" #f="ngForm" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title"><small class="text-muted">Din roll: </small>{{title || 'Confirm'}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    {{isReceiver}}
                    <!--Send Role-->
                    <ng-container *ngIf="!HasReceiverRole(currentInvitation)" >
                        <div class="alert alert-info alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="alert-heading">Acceptera inbjudan</h4>
                            <p>Du har fått en inbjudan, för att gå vidare till nästa steg måste du ange den summa du begär för paketet.</p>
                            <p class="mb-0">Att acceptera denna inbjudan är inte bindande, du har valet att avbryta innan du skickar iväg paketet.</p>
                        </div>
                        <h3>
                            <small class="text-muted">Mottagare: </small>
                            {{currentInvitation.ReceiverPersonId}}<span></span>
                        </h3><hr />

                        <h3><small class="text-muted">Paketinnehåll: </small>
                            {{currentInvitation.Title}}
                        </h3>
                        <p *ngIf="currentInvitation.Description" class="description">{{currentInvitation.Description}}</p>
                        <hr />

                        <div class="form-group" [ngClass]="{ 'has-error': requestedDepositAmount.dirty && !requestedDepositAmount.valid }">
                            <label for="requestedDepositAmount">Efterfrågad summa (kronor)</label>
                            <input type="text" class="form-control" name="requestedDepositAmount" placeholder="Pris för paket" pattern="\d{1,10}"
                                   [(ngModel)]="currentInvitation.RequestedDepositAmount" #requestedDepositAmount="ngModel" required />
                            <div *ngIf="requestedDepositAmount.dirty && !requestedDepositAmount.valid" class="help-block">Fyll i priset för ditt paket (endast siffror)</div>
                        </div>
                    </ng-container>

                    <!--Receiver Role-->
                    <ng-container *ngIf="HasReceiverRole(currentInvitation)">
                        <ng-container *ngIf="dialogStep == 1">
                            <div class="alert alert-info alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="alert-heading">Acceptera inbjudan</h4>
                                <p>Du har fått en inbjudan, för att gå vidare till nästa steg måste du ange en av de tillgängliga betalningsmetoderna</p>
                                <p class="mb-0">Att acceptera denna inbjudan är inte bindande, du har valet att avbryta innan du sätter in summan.</p>
                            </div>
                            <h3>
                                <small class="text-muted">Avsändare: </small>
                                {{currentInvitation.SenderPersonId}}<span></span>
                            </h3><hr />

                            <h3>
                                <small class="text-muted">Paketinnehåll: </small>
                                {{currentInvitation.Title}}
                            </h3>
                            <p *ngIf="currentInvitation.Description" class="text-muted">{{currentInvitation.Description}}</p>
                            <hr />

                            <h3>
                                <small class="text-muted">Pris: </small>
                                {{currentInvitation.RequestedDepositAmount}}<span>:-</span>
                            </h3>
                        </ng-container>

                        <ng-container *ngIf="dialogStep == 2">
                            <h3>
                                <small class="text-muted">Leveransadress: </small>
                            </h3>
                            <div class="form-check" (change)="customAddressRadio($event.target.value)">
                                <input  class="form-check-input" type="radio" name="deliveryAddressRadios" id="defaultAddress" value="option1" checked>
                                <label class="form-check-label" for="deliveryAddressRadios">
                                    Använd folkbokförd adress (<small>{{currentUser.Address}}, {{currentUser.PostalCode}}</small>)
                                </label>
                            </div>
                            <div class="form-check" (change)="customAddressRadio($event.target.value)">
                                <input  class="form-check-input" type="radio" name="deliveryAddressRadios" id="customDeliveryAddress" value="option2">
                                <label class="form-check-label" for="deliveryAddressRadios">
                                    Använd annan leveransadress
                                </label>
                            </div>

                            <div *ngIf="showCustomAddress" id="customDeliveryAddressInput" class="form-group pt-2 collapse" [ngClass]="{ 'has-error': customDeliveryAddress.dirty && !customDeliveryAddress.valid, 'show': showCustomAddress}">
                                <label for="customDeliveryAddress">Adress</label>
                                <input type="text" class="form-control mb-2" name="customDeliveryAddress" placeholder="Adress"
                                       [(ngModel)]="currentInvitation.CustomDeliveryAddress" #customDeliveryAddress="ngModel" required />
                                <div *ngIf="customDeliveryAddress.dirty && !customDeliveryAddress.valid" class="help-block">Fyll i adressen eller välj att använda din folkbokförda adress!</div>
                                <label for="customDeliveryPostalCode">Postkod</label>
                                <input type="text" class="form-control mb-2" name="customDeliveryPostalCode" placeholder="Postkod" pattern="\d{1,10}"
                                       [(ngModel)]="currentInvitation.CustomDeliveryPostalCode" #customDeliveryPostalCode="ngModel" required />
                                <div *ngIf="customDeliveryPostalCode.dirty && !customDeliveryPostalCode.valid" class="help-block">Fyll i en giltig postkod eller välj att använda din folkbokförda adress!</div>
                                <label for="customDeliveryCity">Postort</label>
                                <input type="text" class="form-control" name="customDeliveryCity" placeholder="Postort"
                                       [(ngModel)]="currentInvitation.CustomDeliveryCity" #customDeliveryCity="ngModel" required />
                                <div *ngIf="customDeliveryCity.dirty && !customDeliveryCity.valid" class="help-block">Fyll i en giltig postort eller välj att använda din folkbokförda adress!</div>
                            </div>
                        </ng-container>
                    </ng-container>

                    <!--<pre>{{currentInvite | json}}</pre>-->
                </div>
                <div class="modal-footer">
                    <!--<button type="submit" role="button" class="btn btn-primary">Nästa</button>
                    <button type="submit" role="button" class="btn btn-primary">Acceptera</button>
                    <button type="button" role="button" class="btn btn-default" (click)="cancel()">Neka</button>-->

                    <div class="col-8 pl-2">
                        <button *ngIf="dialogStep == 1" type="button" role="button" class="btn btn-default" (click)="cancel()">Neka</button>
                        <button *ngIf="dialogStep != 1" type="button" class="btn btn-outline-primary" (click)="dialogStep = dialogStep - 1">Tillbaka</button>
                    </div>
                    <div class="col-4 pr-0 text-right">
                        <!--<button type="button" class="btn btn-default" (click)="cancel()">Avbryt</button>-->
                        <button *ngIf="dialogStep == 1" type="button" class="btn btn-primary" (click)="dialogStep = dialogStep + 1" [disabled]="f.form.invalid">Nästa</button>
                        <button *ngIf="dialogStep == 2" type="submit" role="button" class="btn btn-primary">Skicka</button>
                    </div>
                </div>

                <!--<pre>{{selectedRole | json}}</pre>
                <pre>{{model | json}}</pre>-->
            </form>
        </div>
    </div>
</div>

