<div id="backgroundColorBlur">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" (ngSubmit)="f.form.valid && sendInvite()" #f="ngForm" novalidate>
                <div class="modal-header bg-grey">
                    <h4 class="modal-title">Sälj paket</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- <div class="form-group mb-0">
                        <select class="custom-select" name="roleDropdown" (change)="resetModel()" [(ngModel)]="selectedRole" id="consignmentRoleSelect">
                            <option *ngFor="let x of invitationRoles.roles" [value]="x.value" [selected]="selectedRole == x.value">{{x.text}}</option>
                        </select>
                    </div><br /> -->

                    <!--Sender personid-->

                    <div class="form-group"  [ngClass]="{ 'has-error': receiverPersonId.dirty && !receiverPersonId.valid || receiverPersonId.value == currentUser.PersonId }">
                        <label for="receiverPersonId">Ange köpare</label>
                        <input type="text" class="form-control" name="receiverPersonId"
                                [(ngModel)]="model.ReceiverPersonId" #receiverPersonId="ngModel" required />
                        <div *ngIf="receiverPersonId.dirty && !receiverPersonId.valid" class="help-block">Fyll i personnummer</div>
                        <div *ngIf="receiverPersonId.value == currentUser.PersonId" class="has-error mt-1">Du får inte ange ditt eget personnummer</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !requestedDepositAmount }">
                        <label for="requestedDepositAmount">Pris för paket (kronor)</label>
                        <input type="text" class="form-control" name="requestedDepositAmount"
                                [(ngModel)]="model.RequestedDepositAmount" #requestedDepositAmount="ngModel" />
                        <div *ngIf="f.submitted && !requestedDepositAmount" class="help-block">Fyll i begärd summa</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': title.dirty && !title.valid }">
                        <label for="title">Paketnamn</label>
                        <input type="text" class="form-control" name="title"
                                [(ngModel)]="model.Title" #title="ngModel" required />
                        <div *ngIf="title.dirty && !title.valid" class="help-block">Fyll i paketnamn</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': description.dirty && !description.valid }">
                        <label for="description">Beskrivning</label>
                        <textarea type="text" class="form-control" name="description"
                                [(ngModel)]="model.Description" #description="ngModel"></textarea>
                    </div>  


                    <!--Receiver personid-->
                    <!-- <ng-container *ngIf="selectedRole == 2 && dialogStep == 1" class="transition">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !senderPersonId.valid || senderPersonId.value == currentUser.PersonId }">
                            <label for="senderPersonId">Säljare</label>
                            <input type="text" class="form-control" name="senderPersonId" placeholder="Personnummer"
                                   [(ngModel)]="model.SenderPersonId" #senderPersonId="ngModel" />
                            <div *ngIf="f.submitted && !senderPersonId.valid" class="help-block">Fyll i giltigt personnummer</div>
                            <div *ngIf="senderPersonId.value == currentUser.PersonId" class="has-error mt-1">Du får inte ange ditt eget personnummer</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedRole == 2 && dialogStep == 2" class="transition">
                        <div class="form-group" [ngClass]="{ 'has-error': title.dirty && !title.valid }">
                            <label for="title">Paketnamn</label>
                            <input type="text" class="form-control" name="title"
                                   [(ngModel)]="model.Title" #title="ngModel" required />
                            <div *ngIf="title.dirty && !title.valid" class="help-block">Fyll i paketnamn</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': description.dirty && !description.valid }">
                            <label for="description">Beskrivning</label>
                            <textarea type="text" class="form-control" name="description"
                                   [(ngModel)]="model.Description" #description="ngModel"></textarea>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="selectedRole == 2 && dialogStep == 3" class="transition">
                        <h3>
                            <small class="text-muted">Leveransadress: </small>
                        </h3>
                        <div class="form-check" (change)="customAddressRadio($event.target.value)">
                            <input class="form-check-input" type="radio" name="deliveryAddressRadios" id="defaultAddress" value="option1" checked>
                            <label class="form-check-label" for="deliveryAddressRadios">
                                Använd folkbokförd adress (<small>{{currentUser.Address}}, {{currentUser.PostalCode}} {{currentUser.City}}</small>)
                            </label>
                        </div>
                        <div class="form-check" (change)="customAddressRadio($event.target.value)">
                            <input class="form-check-input" type="radio" name="deliveryAddressRadios" id="customDeliveryAddress" value="option2">
                            <label class="form-check-label" for="deliveryAddressRadios">
                                Använd annan leveransadress
                            </label>
                        </div>

                        <div *ngIf="showCustomAddress" id="customDeliveryAddressInput" class="form-group pt-2" [ngClass]="{ 'has-error': customDeliveryAddress.dirty && !customDeliveryAddress.valid}">
                            <label for="customDeliveryAddress">Adress</label>
                            <input type="text" class="form-control mb-2" name="customDeliveryAddress" placeholder="Adress"
                                   [(ngModel)]="model.DeliveryAddress" #customDeliveryAddress="ngModel" required />
                            <div *ngIf="customDeliveryAddress.dirty && !customDeliveryAddress.valid" class="help-block">Fyll i adressen eller välj att använda din folkbokförda adress!</div>
                            <label for="customDeliveryPostalCode">Postkod</label>
                            <input type="text" class="form-control mb-2" name="customDeliveryPostalCode" placeholder="Postkod" pattern="\d{1,10}"
                                   [(ngModel)]="model.DeliveryPostalCode" #customDeliveryPostalCode="ngModel" required />
                            <div *ngIf="customDeliveryPostalCode.dirty && !customDeliveryPostalCode.valid" class="help-block">Fyll i en giltig postkod eller välj att använda din folkbokförda adress!</div>
                            <label for="customDeliveryCity">Postort</label>
                            <input type="text" class="form-control" name="customDeliveryCity" placeholder="Postort"
                                   [(ngModel)]="model.DeliveryCity" #customDeliveryCity="ngModel" required />
                            <div *ngIf="customDeliveryCity.dirty && !customDeliveryCity.valid" class="help-block">Fyll i en giltig postort eller välj att använda din folkbokförda adress!</div>
                        </div>
                    </ng-container> -->

                </div>
                <div class="modal-footer">
                    <div class="col-8">                    
                        <!-- <button *ngIf="dialogStep != 1" type="button" class="btn btn-outline-primary" (click)="dialogStep = dialogStep - 1">Tillbaka</button> -->
                        <button type="button" class="btn btn-outline-primary" (click)="cancel()">Avbryt</button>
                    </div>
                    <div class="col-4 offset-8 pr-0 text-right">
                        <!--<button type="button" class="btn btn-default" (click)="cancel()">Avbryt</button>
                        <button *ngIf="selectedRole == 1 && dialogStep != 3 || selectedRole == 2 && dialogStep != 3" type="button" class="btn btn-primary" (click)="dialogStep = dialogStep + 1" [disabled]="f.form.invalid">Nästa</button> -->
                        <button type="submit" role="button" class="btn btn-primary">Skicka</button>
                    </div>
                </div>

                <!--<pre>{{selectedRole | json}}</pre>
                <pre>{{model | json}}</pre>-->
            </form>
        </div>
    </div>
</div>

