<div id="backgroundColorBlur">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" (ngSubmit)="f.form.valid && confirm()" #f="ngForm" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{title || 'Confirm'}}</h4>
                    <button type="button" class="close" (click)="close()">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Test</p>


                    <!--<pre>{{currentInvite | json}}</pre>-->
                </div>
                <div class="modal-footer">
                    <button type="submit" role="button" class="btn btn-primary">Acceptera</button>
                    <button type="button" role="button" class="btn btn-default" (click)="cancel()">Neka</button>
                </div>

                <!--<pre>{{selectedRole | json}}</pre>
                <pre>{{model | json}}</pre>-->
            </form>
        </div>
    </div>
</div>

