<div class="row">

    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body row">
                <div class="col-12 col-md-6">
                    <button class="btn btn-primary btn-block">Lägg till vänner <i class="fas fa-user-plus"></i></button>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Sök efter dina vänner">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card no-padding mb-3">
            <div class="friends-img"></div>
            <div class="card-body">
                <h5 class="card-title text-center">Ulf Kristersson</h5>
                <button class="btn btn-block btn-primary" (click)=showConfirm($event)>Skicka inbjudan</button>
                <button class="btn btn-block btn-outline-primary">Besök profil</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card no-padding mb-3">
            <div class="friends-img"></div>
            <div class="card-body">
                <h5 class="card-title text-center">Stefan Löfven</h5>
                <button class="btn btn-block btn-primary" (click)=showConfirm($event)>Skicka inbjudan</button>
                <button class="btn btn-block btn-outline-primary">Besök profil</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card no-padding mb-3">
            <div class="friends-img"></div>
            <div class="card-body">
                <h5 class="card-title text-center">Annie Lööf</h5>
                <button class="btn btn-block btn-primary" (click)=showConfirm($event)>Skicka inbjudan</button>
                <button class="btn btn-block btn-outline-primary">Besök profil</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card no-padding mb-3">
            <div class="friends-img"></div>
            <div class="card-body">
                <h5 class="card-title text-center">Ebba Busch Thor</h5>
                <button class="btn btn-block btn-primary" (click)=showConfirm($event)>Skicka inbjudan</button>
                <button class="btn btn-block btn-outline-primary">Besök profil</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card no-padding mb-3">
            <div class="friends-img"></div>
            <div class="card-body">
                <h5 class="card-title text-center">Jan Björklund</h5>
                <button class="btn btn-block btn-primary" (click)=showConfirm($event)>Skicka inbjudan</button>
                <button class="btn btn-block btn-outline-primary">Besök profil</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card no-padding mb-3">
            <div class="friends-img"></div>
            <div class="card-body">
                <h5 class="card-title text-center">Jonas Sjöstedt</h5>
                <button class="btn btn-block btn-primary" (click)=showConfirm($event)>Skicka inbjudan</button>
                <button class="btn btn-block btn-outline-primary">Besök profil</button>
            </div>
        </div>
    </div>

</div>