<!-- Navbar -->
<navbar-home></navbar-home>

<!-- Profil -->
<div class="container-fluid margin-navbar-top mb-3">
    <div class="row">
        <!--Sidebar-->
        <div class="col-lg-2 no-padding">
            <sidebar></sidebar>
        </div>

        <!--Profil-->
        <div class="col-lg-4 p-5 user-profile">
            <div class="card col-12 no-padding">
                <div class="col-12 user-profile-img">
                    <a class="link" href="" role="button"><i class="fa fa-cog fa-pull-right img-cog" aria-hidden="true"></i></a>
                </div>
                <div class="card-block">
                    <h4 class="card-title text-center">{{currentUser.FirstName}} {{currentUser.LastName}}</h4>
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                {{currentUser.DisplayName}}
                            </div>
                            <div class="list-group-item">
                                {{currentUser.Address}}
                            </div>
                            <div class="list-group-item">
                                {{currentUser.PostalCode}}
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary profile-btn" role="button" [routerLink]="['/user-settings']"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Kontoinställningar</button>
                    </div>
                    <ng-container *ngIf="currentUser.UserRights == 10">
                        <a class="btn btn-outline-primary profile-btn" href="#" [routerLink]="['/admin-panel']"><i class="fa fa-database fa-fw" aria-hidden="true"></i> Administratörsverktyg</a>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- Annonser -->
        <div class="col-lg-6 col-xl-6 sale-ads p-5">
            <h2 class="text-center sale-ads-title">Mina annonser</h2>

            <div class="card my-3">
                <div class="sales-ads-img">
                    <div class="row px-1">
                        <div class="col-6">
                            <a class="link" href="" role="button"><i class="fa fa-cog fa-fw img-cog" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 text-right">
                            <a class="link" href="" role="button"><i class="fa fa-trash fa-fw img-cog" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h4 class="card-title">Fotbollsskor</h4>
                    <p class="card-text">Hej nu ska jag sälja mina fina fotbollsskor som jag använt under den senaste säsongen, dom är i gott skick......</p>
                    <button class="btn btn-block btn-outline-primary" role="button">Gå till annons på Blocket</button>

                </div>
            </div>

            <div class="card my-3">
                <div class="sales-ads-img">
                    <div class="row px-1">
                        <div class="col-6">
                            <a class="link" href="" role="button"><i class="fa fa-cog fa-fw img-cog" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 text-right">
                            <a class="link" href="" role="button"><i class="fa fa-trash fa-fw img-cog" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h4 class="card-title">Fotbollsskor</h4>
                    <p class="card-text">Hej nu ska jag sälja mina fina fotbollsskor som jag använt under den senaste säsongen, dom är i gott skick......</p>
                    <button class="btn btn-block btn-outline-primary" role="button">Gå till annons på Blocket</button>

                </div>
            </div>
            <div class="card my-3">
                <div class="sales-ads-img">
                    <div class="row px-1">
                        <div class="col-6">
                            <a class="link" href="" role="button"><i class="fa fa-cog fa-fw img-cog" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 text-right">
                            <a class="link" href="" role="button"><i class="fa fa-trash fa-fw img-cog" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h4 class="card-title">Fotbollsskor</h4>
                    <p class="card-text">Hej nu ska jag sälja mina fina fotbollsskor som jag använt under den senaste säsongen, dom är i gott skick......</p>
                    <button class="btn btn-block btn-outline-primary" role="button">Gå till annons på Blocket</button>

                </div>
            </div>

        </div>

    </div>
</div>