<!-- Navbar -->
<navbar-home></navbar-home>

<!-- Profil -->
<div class="container-fluid  margin-xl-top mx-5 fixed-top">
    <div class="row">
        <div class="col-sm-4 offset-sm-1">
            <div class="card width-335px">
                <img class="card-img-top" src="./img/any.jpg" alt="Profilepicture">
                <div class="card-block">
                    <h4 class="card-title text-center">Anton Nystedt</h4>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">anystedt</li>
                            <li class="list-group-item">Hyttlidgatan 69B</li>
                            <li class="list-group-item">93137, Skellefteå</li>
                        </ul>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-outline-primary width-9 profile-btn" role="button">Lägg till vän</button>
                        <button class="btn btn-primary width-9 profile-btn" role="button">Skapa försändelse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Annonser -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 offset-sm-5">
            <div class="card margin-xl-top mx-5">
                <img src="img/fotbollsskor.jpg" width="600" height="200" />
                <div class="card-block">
                    <h4 class="card-title">Fotbollsskor</h4>
                    <p class="card-text">Hej nu ska jag sälja mina fina fotbollsskor som jag använt under den senaste säsongen, dom är i gott skick......</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 offset-sm-5">
            <div class="card margin-xl-top mx-5">
                <img src="img/fotbollsskor.jpg" width="600" height="200" />
                <div class="card-block">
                    <h4 class="card-title">Fotbollsskor</h4>
                    <p class="card-text">Hej nu ska jag sälja mina fina fotbollsskor som jag använt under den senaste säsongen, dom är i gott skick......</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 offset-sm-5">
            <div class="card margin-xl-top mx-5">
                <img src="img/fotbollsskor.jpg" width="600" height="200" />
                <div class="card-block">
                    <h4 class="card-title">Fotbollsskor</h4>
                    <p class="card-text">Hej nu ska jag sälja mina fina fotbollsskor som jag använt under den senaste säsongen, dom är i gott skick......</p>
                </div>
            </div>
        </div>
    </div>
</div>
  
