<!--Invites-->
<div *ngIf="activeInvitations?.length > 0" id="activeInvites" role="tablist">
    <div class="card-header-custom col-12 animate-enter">
        <div class="row align-items-between">
            <h5 class="m-0 col-sm-7" *ngIf="activeInvitations?.length > 1">Du har {{activeInvitations?.length}} accepterade försändelser</h5>
            <h5 class="m-0 col-sm-7" *ngIf="activeInvitations?.length == 1">Du har {{activeInvitations?.length}} accepterad försändelse</h5>

            <p class="col-sm-5 m-0 text-sm-right">
                <a *ngIf="!showInvitations" (click)="showInvitations=true" class="hide-link"
                    data-toggle="collapse" href="#activeInvitesGrid" role="button" aria-expanded="true" aria-controls="activeInvitesGrid">
                    Visa accepterade försändelser <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <a *ngIf="showInvitations" (click)="showInvitations=false" class="hide-link" 
                    data-toggle="collapse" href="#activeInvitesGrid" role="button" aria-expanded="true" aria-controls="activeInvitesGrid">
                    Dölj accepterade försändelser <i class="fa fa-angle-up" aria-hidden="true"></i>
                </a>
            </p>
        </div> 
    </div>

    <div id="activeInvitesGrid" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#activeInvites">
        <div *ngIf="activeInvitations?.length > 4" class="no-padding d-flex flex-row-reverse">
            <form #orderForm="ngForm" class="form-inline mb-3" (change)="orderBySelection($event.target.value, activeInvitations)">
                <label class="mr-sm-2" for="orderBySelection">Sortera efter:</label>
                <select class="custom-select mb-2 mb-sm-0" name="orderBySelection">
                    <option selected value="-StartDate">Nyast först</option>
                    <option value="StartDate">Äldst först</option>
                    <option value="SenderPersonId">Avsändare A-Ö</option>
                    <option value="ReceiverPersonId">Mottagare A-Ö</option>
                    <option value="-RequestedDepositAmount">Begärd summa fallande</option>
                    <option value="RequestedDepositAmount">Begärd summa stigande</option>
                </select>
            </form>
        </div>
        <div class="row">
            <div *ngFor="let item of pagedItems" class="col-12 my-2 animate-enter">
                <div class="card mb-3 h-100">
                    <div class="card-body pb-2" [ngClass]="{'card-border-receiver' : HasReceiverRole(item), 'card-border-sender' : !HasReceiverRole(item)}">
                        <div class="row">

                            <ng-container *ngFor="let user of users">
                                <ng-container *ngIf="user.PersonId != currentUser.PersonId">
                                    <div *ngIf="user.PersonId == item.ReceiverPersonId || user.PersonId == item.SenderPersonId" class="col-sm-4 invite-border">
                                        <h1 class="invitation-title" *ngIf="HasReceiverRole(item)">Säljare</h1>
                                        <h1 class="invitation-title" *ngIf="!HasReceiverRole(item)">Köpare</h1>

                                        <p class="card-text">
                                            {{user.FirstName}} {{user.LastName}}
                                            <br />{{user.Address}}
                                            <br />{{user.PostalCode}}
                                        </p>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <div class="col-sm-8">
                                <h5 class="invitation-title">{{item.Title}}</h5>
                                <p class="package-description">- {{item.Description}}</p>

                                <p class="card-text invitation-status" [ngClass]="{'alert alert-info mb-3' : !HasReceiverRole(item) && item.Status == invitationStatus.AmountDeposited}">{{translateInvitationStatus(item)}}</p>


                                <div *ngIf="!HasReceiverRole(item) && matchesInvitationWithPackageId(item)" class="animate-enter">
                                    <form name="packageIdForm" (ngSubmit)="f.form.valid && savePackageId()" #f="ngForm" novalidate>
                                        <input type="text" class="form-control mb-2" name="packageId" placeholder="Kolli-id"
                                               [(ngModel)]="invitationExtended.PackageId" #packageId="ngModel" pattern=".{3,}" title="3 characters minimum" required />

                                        <button type="submit" role="button" class="btn btn-primary">Spara</button>
                                        <button type="button" role="button" class="btn btn-default" (click)="cancelPackageIdForm()">Avbryt</button>
                                    </form>
                                </div>

                                <!--<div *ngIf="!HasReceiverRole(item) && item.Status == invitationStatus.AmountDeposited" class="alert alert-info alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="alert-heading">Skicka paketet</h4>
                                    <p>Köparen har betalat för paketet och nu återstår det bara för dig att skicka det, tänk på att skicka paketet med PostNord och använda något fraktsätt som är spårbart.</p>
                                </div>-->

                                <a *ngIf="!HasReceiverRole(item) && !matchesInvitationWithPackageId(item)" href="#" class="btn btn-primary col-md-6 animate-enter"
                                   (click)="enterPackageId(item);false" [class.disabled]="item.Status == invitationStatus.Accepted ? true : null">Ange kolli-id</a>

                                <ng-container *ngIf="HasReceiverRole(item) && item.Status == invitationStatus.Accepted">
                                    <a href="#" class="btn btn-primary col-md-6" (click)="openCheckout(item)">Betala</a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div *ngFor="let item of pagedItems" class="col-sm-6 my-2 animate-enter">
                <div class="card mb-3 h-100">
                    <div class="card-body" [ngClass]="{'card-border-receiver' : HasReceiverRole(item), 'card-border-sender' : !HasReceiverRole(item)}">

                        <h5 class="card-title title-border">{{item.Title}}</h5>
                        <p class="package-description">{{item.Description}}</p>

                        <div class="row mt-3 pr-3 mb-3">
                            <div class="col-10">
                                <p class="card-text" *ngIf="HasReceiverRole(item)"><strong class="receiver-color">Säljare:</strong> {{item.SenderPersonId}}</p>
                                <p class="card-text" *ngIf="!HasReceiverRole(item)"><strong class="sender-color">Köpare:</strong> {{item.ReceiverPersonId}}</p>
                            </div>
                            <div *ngIf="!HasReceiverRole(item)" class="col-2 no-padding dropleft text-right">
                                <a data-toggle="dropdown" class="pl-2" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-info"></i></a>
                                <div class="dropdown-menu text-left">
                                    <a class="dropdown-item disabled">Anton Nystedt</a>
                                    <a class="dropdown-item disabled">Hyttlidgatan 69B</a>
                                    <a class="dropdown-item disabled">93137, Skellefteå</a>
                                    <div class="px-3 py-2">
                                        <button class="btn btn-primary">Skicka uppgifterna på mail</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">{{translateInvitationStatus(item)}}</p>


                        <div *ngIf="!HasReceiverRole(item) && matchesInvitationWithPackageId(item)" class="animate-enter">
                            <form name="packageIdForm" (ngSubmit)="f.form.valid && savePackageId()" #f="ngForm" novalidate>
                                <input type="text" class="form-control mb-2" name="packageId" placeholder="Kolli-id"
                                       [(ngModel)]="invitationExtended.PackageId" #packageId="ngModel" pattern=".{3,}" title="3 characters minimum" required />

                                <button type="submit" role="button" class="btn btn-primary">Spara</button>
                                <button type="button" role="button" class="btn btn-default" (click)="cancelPackageIdForm()">Avbryt</button>
                            </form>
                        </div>

                        <a *ngIf="!HasReceiverRole(item) && !matchesInvitationWithPackageId(item)" href="#" class="btn btn-primary col-md-9 col-lg-6 animate-enter"
                           (click)="enterPackageId(item);false" [class.disabled]="item.Status == invitationStatus.Accepted ? true : null">Ange kolli-id</a>

                        <ng-container *ngIf="HasReceiverRole(item) && item.Status == invitationStatus.Accepted">
                            <a href="#" class="btn btn-primary col-md-9 col-lg-6" (click)="processPayment(item)">Betala</a>
                        </ng-container>
                    </div>
                </div>
            </div>-->
        </div>
        <div *ngIf="activeInvitations?.length > 4">
            <div class="col-12 d-flex justify-content-center">
                <div class="no-padding">
                    <ul *ngIf="pager.Pages?.length" class="pagination">
                        <li [ngClass]="{disabled:pager.CurrentPage === 1}" class="page-item text-center width-70px">
                            <a class="page-link" (click)="setPage(1, activeInvitations)">Första</a>
                        </li>
                        <li [ngClass]="{disabled:pager.CurrentPage === 1}" class="page-item text-center width-3">
                            <a class="page-link" (click)="setPage(pager.CurrentPage - 1, activeInvitations)"><i class="far fa-arrow-alt-circle-left"></i></a>
                        </li>
                        <li *ngFor="let Page of pager.Pages" [ngClass]="{active:pager.CurrentPage === Page}" class="page-item paginationNumber text-center">
                            <a class="page-link" (click)="setPage(Page, activeInvitations)">{{Page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.CurrentPage === pager.TotalPages}" class="page-item text-center width-3">
                            <a class="page-link" (click)="setPage(pager.CurrentPage + 1, activeInvitations)"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </li>
                        <li [ngClass]="{disabled:pager.CurrentPage === pager.TotalPages}" class="page-item text-center width-70px">
                            <a class="page-link" (click)="setPage(pager.TotalPages, activeInvitations)">Sista</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

