<!--Invites-->




<div id="accordion" role="tablist">
    <div class="card-custom">
        <div class="card-header-custom col-12" role="tab" id="headingOne">
            <div *ngIf="activeInvitations?.length > 0" class="row align-items-center">
                <h4 class="m-0 col-sm-7" *ngIf="activeInvitations?.length > 1">Du har {{activeInvitations?.length}} aktiva inbjudningar</h4>
                <h4 class="m-0 col-sm-7" *ngIf="activeInvitations?.length == 1">Du har {{activeInvitations?.length}} aktiv inbjudan</h4>

                <p class="col-sm-5 m-0 text-sm-right">
                    <a *ngIf="!showInvitations" (click)="showInvites()" class="btn btn-outline-primary"
                       data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                        Visa inbjudningar <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="showInvitations" class="btn btn-outline-primary" (click)="hideInvites()"
                       data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                        Dölj inbjudningar <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div *ngFor="let item of activeInvitations | slice:minSliceValue:maxSliceValue; let i=index" class="col-sm-6">
                        <div class="card mb-3">
                            <div class="card-block">
                                <p class="card-text" *ngIf="currentUser.PersonId == item.ReceiverPersonId"><strong>Avsändare:</strong> {{item.SenderPersonId}}</p>
                                <p class="card-text" *ngIf="currentUser.PersonId == item.SenderPersonId"><strong>Mottagare:</strong> {{item.ReceiverPersonId}}</p>
                                <p class="card-text">Status: {{item.Status}}</p> <!-- Ska sen stå tex: Väntar på att Mottagaren ska lägga in pengar. -->
                                <p class="card-text">Begärd summa: {{item.RequestedDepositAmount}}</p>
                                <p class="card-text">Inbjudan skickad: {{item.StartDate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right" *ngIf="activeInvitations?.length > 0">
                        <div class="row">
                            <div class="col-sm-8">
                                <nav aria-label="Page navigation for active invitations" *ngIf="activeInvitations?.length > 4 && !showAllInvitationsEnabled">
                                    <ul class="pagination">
                                        <li class="firstAndLast page-item text-center" [ngClass]="{'disabled' : (minSliceValue < 4)}"><a class="page-link" (click)="resetSliceValue()">Första</a></li>

                                        <li class="page-item" [ngClass]="{'disabled' : (minSliceValue < 4)}"><a class="page-link" (click)="decrementSliceValue()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                                        <li *ngIf="maxSliceValue >= activeInvitations?.length && activeInvitations?.length > 8" class="page-item paginationNumber text-center" (click)="decrementSliceValueTwice()"><a class="page-link">{{(maxSliceValue / 4) - 2}}</a></li>
                                        <li *ngIf="maxSliceValue > 4" class="page-item paginationNumber text-center" (click)="decrementSliceValue()"><a class="page-link">{{(maxSliceValue / 4) - 1}}</a></li>
                                        <li class="page-item disabled paginationNumber text-center"><a class="page-link activePage">{{maxSliceValue / 4}}</a></li>
                                        <li *ngIf="maxSliceValue < activeInvitations?.length" class="page-item paginationNumber text-center"><a class="page-link" (click)="incrementSliceValue()">{{(maxSliceValue / 4) + 1}}</a></li>
                                        <li *ngIf="maxSliceValue == 4 && activeInvitations?.length > 8" class="page-item paginationNumber text-center" (click)="incrementSliceValueTwice()"><a class="page-link">{{(maxSliceValue / 4) + 2}}</a></li>
                                        <li class="page-item" [ngClass]="{'disabled' : (maxSliceValue == activeInvitations?.length)}"><a class="page-link" (click)="incrementSliceValue()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>

                                        <li class="firstAndLast page-item text-center" [ngClass]="{'disabled' : (maxSliceValue == activeInvitations?.length)}"><a class="page-link" (click)="maximizeSliceValue()">Sista</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-sm-4">
                                <button *ngIf="maxSliceValue >= 4 && !showAllInvitationsEnabled && activeInvitations?.length > 4" class="btn btn-outline-primary" type="button" role="button" (click)="showAllInvitations()">
                                    Visa alla <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </button>
                                <button *ngIf="showAllInvitationsEnabled" class="btn btn-outline-primary" type="button" role="button" (click)="resetSliceValue()">
                                    Visa färre <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

