<!--Invites-->
<div id="activeInvites" class="mt-3" role="tablist">
    <div class="card-custom">
        <div class="card-header-custom col-12" role="tab" id="headingOne">
            <div *ngIf="activeInvitations?.length > 0" class="row align-items-between">
                <h4 class="m-0 col-sm-7" *ngIf="activeInvitations?.length > 1">Du har {{activeInvitations?.length}} aktiva inbjudningar</h4>
                <h4 class="m-0 col-sm-7" *ngIf="activeInvitations?.length == 1">Du har {{activeInvitations?.length}} aktiv inbjudan</h4>

                <p class="col-sm-5 m-0 text-sm-right">
                    <a *ngIf="!showInvitations" (click)="showInvitations=true" class="btn btn-outline-primary showActiveInvitesBtn"
                       data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                        Visa inbjudningar <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="showInvitations" (click)="showInvitations=false" class="btn btn-outline-primary showActiveInvitesBtn" 
                       data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                        Dölj inbjudningar <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </p>
            </div> 
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#activeInvites">
            <div class="card-body">
                <div class="row">
                    <div *ngFor="let item of activeInvitations | slice:minSliceValue:maxSliceValue; let i=index" class="col-sm-6 my-2">
                        <div class="card mb-3 h-100">
                            <div class="card-block" [ngClass]="{'card-border-receiver' : HasReceiverRole(item), 'card-border-sender' : !HasReceiverRole(item)}">
                                <p class="card-title title-border" *ngIf="HasReceiverRole(item)"><strong class="receiver-color">Avsändare:</strong> {{item.SenderPersonId}}</p>
                                <p class="card-title title-border" *ngIf="!HasReceiverRole(item)"><strong class="sender-color">Mottagare:</strong> {{item.ReceiverPersonId}}</p>
                                <p class="card-text">Status: <strong>{{translateInvitationStatus(item)}}</strong></p>
                                <p class="card-text">Begärd summa: {{item.RequestedDepositAmount}}</p>
                                <p class="card-text">Inbjudan skickad: {{item.StartDate}}</p>

                                <div *ngIf="!HasReceiverRole(item) && matchesInvitationWithPackageId(item)">
                                    <form name="packageIdForm" (ngSubmit)="f.form.valid && savePackageId()" #f="ngForm" novalidate>
                                        <input type="text" class="form-control mb-2" name="packageId" placeholder="Kolli-id"
                                               [(ngModel)]="invitationExtended.PackageId" #packageId="ngModel" pattern=".{3,}" title="3 characters minimum" required />

                                        <button type="submit" role="button" class="btn btn-primary">Spara</button>
                                        <button type="button" role="button" class="btn btn-default" (click)="cancelPackageIdForm()">Avbryt</button>
                                    </form>
                                </div>

                                <a *ngIf="!HasReceiverRole(item) && !matchesInvitationWithPackageId(item)" href="#" class="btn btn-primary col-md-9 col-lg-6" 
                                   (click)="enterPackageId(item);false" [class.disabled]="item.Status == invitationStatus.Accepted ? true : null">Ange kolli-id</a>

                                <ng-container *ngIf="HasReceiverRole(item) && item.Status == invitationStatus.Accepted">
                                    <a href="#" class="btn btn-primary col-md-9 col-lg-6" (click)="processPayment(item)">Betala</a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-right" *ngIf="activeInvitations?.length > 0">
                    <div class="row">
                        <div class="col-sm-8">
                            <nav aria-label="Page navigation for active invitations" *ngIf="activeInvitations?.length > 4 && !showAllInvitationsEnabled">
                                <ul class="pagination">
                                    <li class="firstAndLast page-item text-center" [ngClass]="{'disabled' : (minSliceValue < 4)}"><a class="page-link" (click)="resetSliceValue()">Första</a></li>

                                    <li class="page-item" [ngClass]="{'disabled' : (minSliceValue < 4)}"><a class="page-link" (click)="decrementSliceValue()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                                    <li *ngIf="maxSliceValue >= activeInvitations?.length && activeInvitations?.length > 8" class="page-item paginationNumber text-center hidden-md-down" (click)="decrementSliceValueTwice()"><a class="page-link">{{(maxSliceValue / 4) - 2}}</a></li>
                                    <li *ngIf="maxSliceValue > 4" class="page-item paginationNumber text-center hidden-md-down" (click)="decrementSliceValue()"><a class="page-link">{{(maxSliceValue / 4) - 1}}</a></li>
                                    <li class="page-item disabled paginationNumber text-center"><a class="page-link activePage">{{maxSliceValue / 4}}</a></li>
                                    <li *ngIf="maxSliceValue < activeInvitations?.length" class="page-item paginationNumber text-center hidden-md-down"><a class="page-link" (click)="incrementSliceValue()">{{(maxSliceValue / 4) + 1}}</a></li>
                                    <li *ngIf="maxSliceValue == 4 && activeInvitations?.length > 8" class="page-item paginationNumber text-center hidden-md-down" (click)="incrementSliceValueTwice()"><a class="page-link">{{(maxSliceValue / 4) + 2}}</a></li>
                                    <li class="page-item" [ngClass]="{'disabled' : (maxSliceValue == activeInvitations?.length)}"><a class="page-link" (click)="incrementSliceValue()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>

                                    <li class="firstAndLast page-item text-center" [ngClass]="{'disabled' : (maxSliceValue == activeInvitations?.length)}"><a class="page-link" (click)="maximizeSliceValue()">Sista</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-sm-4">
                            <button *ngIf="maxSliceValue >= 4 && !showAllInvitationsEnabled && activeInvitations?.length > 4" class="btn btn-outline-primary" type="button" role="button" (click)="showAllInvitations()">
                                Visa alla <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="showAllInvitationsEnabled" class="btn btn-outline-primary" type="button" role="button" (click)="resetSliceValue()">
                                Visa färre <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

