<div class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <div class="card text-center">
                <div class="card-block">
                    <h3 class="card-title">Inga aktiva försändelser</h3>
                    <p class="card-text">
                        Du har inga aktiva försändelser, läs mer hur du kommer igång på några minuter
                        eller skicka en inbjudan
                    </p>
                    <a href="#" class="btn btn-primary" (click)=showConfirm()>Skicka inbjudan</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="counter">
    <button (click)="decrement()">
        Decrement
    </button>
    <input type="text" [value]="addInvitationStream">
    <button (click)="increment()">
        Increment
    </button>
</div>-->