<!--Invites-->
<h3 class="text-center mb-3" *ngIf="unrespondedInvitations?.length > 1">Du har {{unrespondedInvitations?.length}} aktiva inbjudningar</h3>
<h3 class="text-center mb-3" *ngIf="unrespondedInvitations?.length == 1">Du har {{unrespondedInvitations?.length}} aktiv inbjudan</h3>

<div class="row">
    <div *ngFor="let item of unrespondedInvitations | slice:minSliceValue:maxSliceValue; let i=index" class="col-md-6">
        <div class="card mb-3">
            <div class="card-block">
                <p class="card-text" *ngIf="currentUser.PersonId == item.ReceiverPersonId"><strong>Avsändare:</strong> {{item.SenderPersonId}}</p>
                <p class="card-text" *ngIf="currentUser.PersonId == item.SenderPersonId"><strong>Mottagare:</strong> {{item.ReceiverPersonId}}</p>
                <p class="card-text">Status: {{item.Status}}</p> <!-- Ska sen stå tex: Väntar på att Mottagaren ska lägga in pengar. -->
                <p class="card-text">Begärd summa: {{item.RequestedDepositAmount}}</p>
                <p class="card-text">Inbjudan skickad: {{item.StartDate}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right" *ngIf="unrespondedInvitations?.length > 0">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <nav aria-label="Page navigation for active invitations" *ngIf="unrespondedInvitations?.length > 4 && !showAllInvitationsEnabled">
                    <ul class="pagination">
                        <li class="firstANDlast page-item text-center" [ngClass]="{'disabled' : (minSliceValue < 4)}"><a class="page-link" (click)="resetSliceValue()">Första</a></li>

                        <li class="page-item" [ngClass]="{'disabled' : (minSliceValue < 4)}"><a class="page-link" (click)="decrementSliceValue()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        <li class="page-item disabled paginationNumber text-center"><a class="page-link">{{maxSliceValue / 4}}</a></li>
                        <li class="page-item" [ngClass]="{'disabled' : (maxSliceValue == unrespondedInvitations?.length)}"><a class="page-link" (click)="incrementSliceValue()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>

                        <li class="firstANDlast page-item text-center" [ngClass]="{'disabled' : (maxSliceValue == unrespondedInvitations?.length)}"><a class="page-link" (click)="maximizeSliceValue()">Sista</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">
                <button *ngIf="maxSliceValue > 4 && !showAllInvitationsEnabled" class="btn btn-outline-primary" type="button" role="button" (click)="showAllInvitations()">
                    Visa alla <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <button *ngIf="showAllInvitationsEnabled" class="btn btn-outline-primary" type="button" role="button" (click)="resetSliceValue()">
                    Visa färre <i class="fa fa-angle-up" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

